/DiceRoller/.idea/.gitignore
/DiceRoller/app/.gitignore
/DiceRoller/.gitignore
/Lemonade/.idea/.gitignore
/Lemonade/app/.gitignore
/Lemonade/.gitignore
/MyApplication/.idea/.gitignore
/MyApplication/app/.gitignore
/MyApplication/.gitignore
/MyApplication2/.idea/.gitignore
/MyApplication2/app/.gitignore
/MyApplication2/.gitignore
/MyApplication3/.idea/.gitignore
/MyApplication3/app/.gitignore
/MyApplication3/.gitignore
/DiceRoller/.idea/.name
/MyApplication2/.idea/.name
/MyApplication3/.idea/.name
/MyApplication/app/src/main/res/layout/activity_main.xml
/MyApplication2/app/src/main/res/layout/activity_main.xml
/MyApplication3/app/src/main/res/layout/activity_main.xml
/DiceRoller/app/src/main/AndroidManifest.xml
/Lemonade/app/src/main/AndroidManifest.xml
/MyApplication/app/src/main/AndroidManifest.xml
/MyApplication2/app/src/main/AndroidManifest.xml
/MyApplication3/app/src/main/AndroidManifest.xml
/DiceRoller/app/src/main/res/xml/backup_rules.xml
/Lemonade/app/src/main/res/xml/backup_rules.xml
/MyApplication/app/src/main/res/xml/backup_rules.xml
/MyApplication2/app/src/main/res/xml/backup_rules.xml
/MyApplication3/app/src/main/res/xml/backup_rules.xml
/MyApplication/app/src/main/res/menu/bottom_nav_menu.xml
/DiceRoller/app/build.gradle.kts
/DiceRoller/build.gradle.kts
/Lemonade/app/build.gradle.kts
/Lemonade/build.gradle.kts
/MyApplication/app/build.gradle.kts
/MyApplication/build.gradle.kts
/MyApplication2/app/build.gradle.kts
/MyApplication2/build.gradle.kts
/MyApplication3/app/build.gradle.kts
/MyApplication3/build.gradle.kts
/DiceRoller/.idea/codeStyles/codeStyleConfig.xml
/DiceRoller/app/src/main/java/com/example/diceroller/ui/theme/Color.kt
/Lemonade/app/src/main/java/com/example/lemonade/ui/theme/Color.kt
/DiceRoller/app/src/main/res/values/colors.xml
/Lemonade/app/src/main/res/values/colors.xml
/MyApplication/app/src/main/res/values/colors.xml
/MyApplication2/app/src/main/res/values/colors.xml
/MyApplication3/app/src/main/res/values/colors.xml
/DiceRoller/.idea/compiler.xml
/Lemonade/.idea/compiler.xml
/MyApplication/.idea/compiler.xml
/MyApplication2/.idea/compiler.xml
/MyApplication3/.idea/compiler.xml
/MyApplication/app/src/main/java/com/example/myapplication/ui/dashboard/DashboardFragment.kt
/MyApplication/app/src/main/java/com/example/myapplication/ui/dashboard/DashboardViewModel.kt
/DiceRoller/app/src/main/res/xml/data_extraction_rules.xml
/Lemonade/app/src/main/res/xml/data_extraction_rules.xml
/MyApplication/app/src/main/res/xml/data_extraction_rules.xml
/MyApplication2/app/src/main/res/xml/data_extraction_rules.xml
/MyApplication3/app/src/main/res/xml/data_extraction_rules.xml
/DiceRoller/app/src/main/res/raw/dice_1.json
/DiceRoller/app/src/main/res/drawable-nodpi/dice_1.xml
/DiceRoller/app/src/main/res/raw/dice_2.json
/DiceRoller/app/src/main/res/drawable-nodpi/dice_2.xml
/DiceRoller/app/src/main/res/raw/dice_3.json
/DiceRoller/app/src/main/res/drawable-nodpi/dice_3.xml
/DiceRoller/app/src/main/res/raw/dice_4.json
/DiceRoller/app/src/main/res/drawable-nodpi/dice_4.xml
/DiceRoller/app/src/main/res/raw/dice_5.json
/DiceRoller/app/src/main/res/drawable-nodpi/dice_5.xml
/DiceRoller/app/src/main/res/raw/dice_6.json
/DiceRoller/app/src/main/res/drawable-nodpi/dice_6.xml
/DiceRoller/app/src/main/res/drawable-nodpi/dice_roll_dice_1.gif
/MyApplication/app/src/main/res/values/dimens.xml
/MyApplication2/app/src/androidTest/java/com/example/myapplication/ExampleInstrumentedTest.java
/MyApplication3/app/src/androidTest/java/com/example/myapplication/ExampleInstrumentedTest.java
/DiceRoller/app/src/androidTest/java/com/example/diceroller/ExampleInstrumentedTest.kt
/Lemonade/app/src/androidTest/java/com/example/lemonade/ExampleInstrumentedTest.kt
/MyApplication/app/src/androidTest/java/com/example/myapplication/ExampleInstrumentedTest.kt
/MyApplication2/app/src/test/java/com/example/myapplication/ExampleUnitTest.java
/MyApplication3/app/src/test/java/com/example/myapplication/ExampleUnitTest.java
/DiceRoller/app/src/test/java/com/example/diceroller/ExampleUnitTest.kt
/Lemonade/app/src/test/java/com/example/lemonade/ExampleUnitTest.kt
/MyApplication/app/src/test/java/com/example/myapplication/ExampleUnitTest.kt
/MyApplication/app/src/main/res/layout/fragment_dashboard.xml
/MyApplication/app/src/main/res/layout/fragment_home.xml
/MyApplication/app/src/main/res/layout/fragment_notifications.xml
/DiceRoller/gradle.properties
/Lemonade/gradle.properties
/MyApplication/gradle.properties
/MyApplication2/gradle.properties
/MyApplication3/gradle.properties
/DiceRoller/.idea/gradle.xml
/Lemonade/.idea/gradle.xml
/MyApplication/.idea/gradle.xml
/MyApplication2/.idea/gradle.xml
/MyApplication3/.idea/gradle.xml
/DiceRoller/gradle/wrapper/gradle-wrapper.jar
/Lemonade/gradle/wrapper/gradle-wrapper.jar
/MyApplication/gradle/wrapper/gradle-wrapper.jar
/MyApplication2/gradle/wrapper/gradle-wrapper.jar
/MyApplication3/gradle/wrapper/gradle-wrapper.jar
/DiceRoller/gradle/wrapper/gradle-wrapper.properties
/Lemonade/gradle/wrapper/gradle-wrapper.properties
/MyApplication/gradle/wrapper/gradle-wrapper.properties
/MyApplication2/gradle/wrapper/gradle-wrapper.properties
/MyApplication3/gradle/wrapper/gradle-wrapper.properties
/DiceRoller/gradlew
/Lemonade/gradlew
/MyApplication/gradlew
/MyApplication2/gradlew
/MyApplication3/gradlew
/DiceRoller/gradlew.bat
/Lemonade/gradlew.bat
/MyApplication/gradlew.bat
/MyApplication2/gradlew.bat
/MyApplication3/gradlew.bat
/MyApplication/app/src/main/java/com/example/myapplication/ui/home/HomeFragment.kt
/MyApplication/app/src/main/java/com/example/myapplication/ui/home/HomeViewModel.kt
/MyApplication/app/src/main/res/drawable/ic_dashboard_black_24dp.xml
/MyApplication/app/src/main/res/drawable/ic_home_black_24dp.xml
/DiceRoller/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/DiceRoller/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/DiceRoller/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/DiceRoller/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/DiceRoller/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/Lemonade/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/Lemonade/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/Lemonade/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/Lemonade/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/Lemonade/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/MyApplication/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/MyApplication/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/MyApplication/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/MyApplication/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/MyApplication/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/MyApplication2/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/MyApplication2/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/MyApplication2/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/MyApplication2/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/MyApplication2/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/MyApplication3/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/MyApplication3/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/MyApplication3/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/MyApplication3/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/MyApplication3/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/DiceRoller/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/Lemonade/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/MyApplication/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/MyApplication2/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/MyApplication3/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/DiceRoller/app/src/main/res/drawable/ic_launcher_background.xml
/Lemonade/app/src/main/res/drawable/ic_launcher_background.xml
/MyApplication/app/src/main/res/drawable/ic_launcher_background.xml
/MyApplication2/app/src/main/res/drawable/ic_launcher_background.xml
/MyApplication3/app/src/main/res/drawable/ic_launcher_background.xml
/DiceRoller/app/src/main/res/drawable/ic_launcher_foreground.xml
/Lemonade/app/src/main/res/drawable/ic_launcher_foreground.xml
/MyApplication/app/src/main/res/drawable/ic_launcher_foreground.xml
/MyApplication2/app/src/main/res/drawable/ic_launcher_foreground.xml
/MyApplication3/app/src/main/res/drawable/ic_launcher_foreground.xml
/DiceRoller/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/DiceRoller/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/DiceRoller/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/DiceRoller/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/DiceRoller/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/Lemonade/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/Lemonade/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/Lemonade/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/Lemonade/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/Lemonade/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/MyApplication/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/MyApplication/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/MyApplication/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/MyApplication/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/MyApplication/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/MyApplication2/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/MyApplication2/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/MyApplication2/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/MyApplication2/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/MyApplication2/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/MyApplication3/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/MyApplication3/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/MyApplication3/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/MyApplication3/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/MyApplication3/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/DiceRoller/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/Lemonade/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/MyApplication/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/MyApplication2/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/MyApplication3/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/MyApplication/app/src/main/res/drawable/ic_notifications_black_24dp.xml
/DiceRoller/.idea/kotlinc.xml
/Lemonade/.idea/kotlinc.xml
/MyApplication/.idea/kotlinc.xml
/Lemonade/app/src/main/res/drawable-nodpi/lemon_drink.xml
/Lemonade/app/src/main/res/drawable-nodpi/lemon_restart.xml
/Lemonade/app/src/main/res/drawable-nodpi/lemon_squeeze.xml
/Lemonade/app/src/main/res/drawable-nodpi/lemon_tree.xml
/MyApplication2/app/src/main/java/com/example/myapplication/MainActivity.java
/MyApplication3/app/src/main/java/com/example/myapplication/MainActivity.java
/DiceRoller/app/src/main/java/com/example/diceroller/MainActivity.kt
/Lemonade/app/src/main/java/com/example/lemonade/MainActivity.kt
/MyApplication/app/src/main/java/com/example/myapplication/MainActivity.kt
/DiceRoller/.idea/misc.xml
/Lemonade/.idea/misc.xml
/MyApplication/.idea/misc.xml
/MyApplication2/.idea/misc.xml
/MyApplication3/.idea/misc.xml
/MyApplication/app/src/main/res/navigation/mobile_navigation.xml
/MyApplication/app/src/main/java/com/example/myapplication/ui/notifications/NotificationsFragment.kt
/MyApplication/app/src/main/java/com/example/myapplication/ui/notifications/NotificationsViewModel.kt
/DiceRoller/app/proguard-rules.pro
/Lemonade/app/proguard-rules.pro
/MyApplication/app/proguard-rules.pro
/MyApplication2/app/proguard-rules.pro
/MyApplication3/app/proguard-rules.pro
/DiceRoller/.idea/codeStyles/Project.xml
/DiceRoller/.idea/inspectionProfiles/Project_Default.xml
/DiceRoller/settings.gradle.kts
/Lemonade/settings.gradle.kts
/MyApplication/settings.gradle.kts
/MyApplication2/settings.gradle.kts
/MyApplication3/settings.gradle.kts
/DiceRoller/app/src/main/res/values/strings.xml
/Lemonade/app/src/main/res/values/strings.xml
/MyApplication/app/src/main/res/values/strings.xml
/MyApplication2/app/src/main/res/values/strings.xml
/MyApplication3/app/src/main/res/values/strings.xml
/DiceRoller/app/src/main/java/com/example/diceroller/ui/theme/Theme.kt
/Lemonade/app/src/main/java/com/example/lemonade/ui/theme/Theme.kt
/DiceRoller/app/src/main/res/values/themes.xml
/Lemonade/app/src/main/res/values/themes.xml
/MyApplication/app/src/main/res/values/themes.xml
/MyApplication/app/src/main/res/values-night/themes.xml
/MyApplication2/app/src/main/res/values/themes.xml
/MyApplication2/app/src/main/res/values-night/themes.xml
/MyApplication3/app/src/main/res/values/themes.xml
/MyApplication3/app/src/main/res/values-night/themes.xml
/DiceRoller/app/src/main/java/com/example/diceroller/ui/theme/Type.kt
/Lemonade/app/src/main/java/com/example/lemonade/ui/theme/Type.kt
/DiceRoller/.idea/vcs.xml
/MyApplication/.idea/vcs.xml
/MyApplication2/.idea/vcs.xml
/MyApplication3/.idea/vcs.xml
